{% extends 'base.html.twig' %}

{% block title %}Evènements{% endblock %}
{% block body %}
{{ parent() }}
<div class="container-fluid pr-0 pl-0">
    <div class="row"> 
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5 mb-4 p-0">
            <div class="content-title">
                <p class="pt-3 pb-3 m-0 text-center font-weight-bold">Les evènements programmés</p>
            </div>
        </div>
        <div class="container-content">
            <div id="caleandar" class="mt-4 mb-5"></div>
            <div class="row">
                {% for event in events %}
                <div class="col-sm-10 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-around h-50">
                    <div class="card p-3 mt-3 bg-info">
                        <fieldset class="border p-4">
                            <div class="card-header">
                                <h3 class="card-title w-auto text-center text-redC">{{ event.title }}</h3>
                            </div>
                            <div>
                                <img src="{{ asset('/images/event/'~event.image) }}" class="card-img-top img-responsive img-fluid rounded" alt="Image evenement JAZZ">                                        
                                <div class="card-body bg-brownCL">
                                    <h5 class="card-title m-2 text-info text-rustC">{{ event.title }}</h5>
                                    <h6 class="card-subtitle m-3 text-greyC">{{ event.beginAt|date('d/m/Y') }} à {{ event.beginAt|date('H:i') }}h</h6>
                                    <div class="m-auto">
                                        <hr>
                                        <div class="overflow-auto" style="width:100%;height:200px;max-width:100%;">   
                                            <p class="card-text">{{ event.content }}</p>
                                          {#  <a href="{{ path('event_action'), {{ event.id }} }}" class="card-link text-greyC">Voir l'évènement</a> #}
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="card-footer text-center bg-dark">
                                        <h5 class="m-3 text-white">{{ event.place }}</h5>
                                    </div>
                                </div>
                            </div>                                  
                        </fieldset>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div> 
    </div>
</div>    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/caleandar.min.js') }}"></script>
   {#   <script src="{{ asset('/js/app.js') }}"></script>   #}
   <script type="text/javascript">
    
  // Envoyer le formulaire. 
  $( function () {

console.log("JQuery ready!!!!!!.");
    var events = new Array(); // pour recupérer les evenements
    
    // configuration pour le calendrier
    var settings = {
        Color: 'gray',
        LinkColor: 'hsl(171, 25%, 36%)',
        NavShow: true,
        NavVertical: false,
        NavLocation: '',
        DateTimeShow: true,
        DateTimeFormat: 'mmm, yyyy',
        DatetimeLocation: '',
        EventClick: '',
        EventTargetWholeDay: false,
        DisabledDays: [],
    };

    // créer l'objet ajax XmlHttpRequest
    var jxhr = $.ajax({

        // url du service caleandar
        url: "{{ path('caleandar_action') }}", 
        type:       'GET',  // methode utlisée  
        async:      true,   // requêtte asyncrone
        datatype: 'json',
        success: function(){
        
            // la table recupérée comme objet json
            var eventArrays = JSON.parse(jxhr.responseText);
            
            for(idx = 0; idx < eventArrays.length; idx++)
            {   
                // objet temporaire pour stocker les données au format du plugin caleandar.min.js
                var obj = {}; 
                obj.Date  = new Date(   // créer la date de l'evenement
                                    eventArrays[idx].date.year, 
                                    eventArrays[idx].date.month-1,  // la date commence à zero
                                    eventArrays[idx].date.day
                                    );
                obj.Title = "<h3 >"+eventArrays[idx].title+
                ' à '+eventArrays[idx].beginAt+"h.</h3>";
                obj.Link = "/event/"+eventArrays[idx].id; 
                events.push(obj);  // stocker les evenements au format du calendrier                          
            }
 
            console.log("ajax success.");
            console.log(events);
        },
        error: function() { console.log("error occurred.") },
        complete: function() {
            
            // recupérer l'objet dom de avec son id
            var element = document.getElementById('caleandar');
            // passé l'elément, les evenements et la configuration à l'objet caleandar 
            caleandar(element, events, settings);

            console.log("Caleandar created.");
            console.log("ajax complete.") }
            
    });   // end Ajax request

  }); // end JQuery 
  </script>
{% endblock %}

