{% extends 'base.html.twig' %}

{% block title %}Evènements{% endblock %}

{% block body %}
{{ parent() }}
<div class="container-fluid pr-0 pl-0">
	<div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5 mb-4 p-0">
            <div class="content-title">
                <p class="pt-3 pb-3 m-0 text-center font-weight-bold">{{ event.title }}</p>
            </div>
        </div>
        <div class="container-content">
         <div class="row">
          <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 d-flex justify-content-around h-75 div-center">
            <div class="card p-3 mt-4 mb-2 bg-warning">
                <fieldset class="border p-3">
                    <div class="card-header">
                        <h3 class="card-title w-auto text-center text-redC">{{ event.title }}</h3>
                    </div>
                    <div>
                        <img src="{{ asset('/images/event/'~event.image) }}" class="card-img-top img-responsive img-fluid rounded" alt="Image evenement JAZZ">                                        
                        <div class="card-body bg-brownCL">
                            <h5 class="card-title m-2 text-info text-rust">{{ event.title }}</h5>
                            <h6 class="card-subtitle m-3 text-greyC">{{ event.beginAt|date('d/m/Y') }} à {{ event.beginAt|date('H:i') }}h</h6>
                            <div class="m-auto">
                                <hr>
                                <div class="overflow-auto" style="width:100%;height:200px;max-width:100%;">
                                    <p class="card-text">{{ event.content }}</p>
                                     <a href="{{ path('event_action') }}" class="card-link text-decoration-none text-blueC h3">Voir tous les évènements</a>
                                </div>
                                <hr>
                            </div>
                            <div class="card-footer text-center bg-dark">
                                <h5 class="m-3 text-white">{{ event.place }}</h5>
                            </div>
                        </div>
                    </div>                                  
                </fieldset>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
{% endblock %}
