 {% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="login text-center m-auto">
            <form method="post">
                {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
                {% endif %}

                <h1 class="h3 mt-3 p-2 ml-auto font-weight-normal text-redC">Espace Admin</h1>
                <div class="form-groupe">
                    <div class="row">
                        <div class="col-sm-8 col-md-6 col-lg-6 col-xl-6 p-3 m-auto">
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Nom d'utilisateur ..." required autofocus>
                        </div>
                    </div>
                </div>
                <div class="form-groupe">
                    <div class="row">
                        <div class="col-sm-8 col-md-6 col-lg-6 col-xl-6 p-3 m-auto">
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe ..." required>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
                <div class="form-group">        
                    <div class="col-sm-offset-2 col-sm-10 col-md-10 col-lg-10 col-xl-10 pt-4 m-auto">
                        <button id="btn-login" class="btn btn-lg btn-primary" type="submit">Se Connecter</button> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
