{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{{ parent() }}
{% block newsletter %}
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 alert alert-secondary alert-dismissible fade show m-0 p-0" role="alert">
  <form id="newsletter" method="post" class="div-center p-2">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p class="text-center font-weight-bold text-rustC">S'inscrire à notre Newsletter</p>
        <p class="text-left font-weight-bold text-blueC mt-3 mb-2">Souscrire</p>
      </div>  
      <div class="form-group col-sm-12 col-md-5 col-lg-6 col-xl-6">
        <input type="email" name="email" placeholder="  Votre adresse e-mail ..." id="newsmail" class="form-control" required>
      </div>

        <!-- TODO: reCaptcha -->
        <!-- <input id="token" type="hidden" name="token"> -->

      <div class="form-groupcol-sm-10 col-md-3 col-lg-3 col-xl-3 mb-2">
        <button type="submit" id="btn-news" class="btn btn-primary form-control p-2">S'inscrire</button>
      </div>
      <div class="form-group col-sm-10 col-md-3 col-lg-3 col-xl-3 mb-2">
        <button type="button" id="btn-news" class="btn btn-primary form-control" onclick="alert('En cour !!!.')">Se désinscrire</button>
      </div>
    </div>
  </form>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div id="message" class="m-auto"></div>
</div>
{% endblock %}
<div class="container-fluid">
  <div class="row">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="content-title">
          <p class="text-center font-weight-bold">Bienvenue</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
          <p class="p-3">En franchissant les portes du Club Convergences, vous entrez dans un lieu unique: une salle de spectacle vivant associative gérée par une équipe de bénévoles oeuvrant avec professionnalisme et convivialité, dans le but de créer du lien social autour de la musique.</p>
        </div>
      </div>
    </div>   <!-- row  -->
    <div class="col-12 pr-0 pl-0">
      <div class="row m-auto">  
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 m-auto">
          <div class="caleandar d-flex mt-4 mb-4"> 
            <div id="caleandar"></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 m-auto">
          <div class="div-tarif d-block text-center mt-4 mb-4 p-3">
                <p class="font-weight-bold text-blueC m-0 p-0">TARIFS / HORAIRES</p>
                <p class="font-weight-bold text-brownC m-0 p-0">LES VENDREDIS</p>
                <p class="font-weight-bold text-redC m-0 p-0">De 21h à minuit entrée libre</p>
                <p class="font-weight-bold text-redC m-0 p-0">ou au dé: de 1 à 5€,</p>
                <p class="font-weight-bold text-redC m-0 p-0">6 c’est gratis!</p>
                <p class="font-weight-bold text-brownC m-0 p-0">LES SAMEDIS</p>
                <p class="font-weight-bold text-redC m-0 p-0">De 20h à minuit</p>
                <p class="font-weight-bold text-redC m-0 p-0">10€ - 8€ / Adhérents<p>
                <p class="font-weight-bold text-brownC m-0 p-0">Le 1/4H CIOTADEN</p>
                <p class="font-weight-bold text-redC m-0 p-0">5€ de 20h à 20h30 (20 places max)</p>
          </div>
        </div>
      </div> <!-- row -->
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="content-title">
          <p class="pt-3 pb-3 m-0 text-center font-weight-bold">Adhérer à l'association</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
          <p class="p-4">Vous pouvez contribuer à préserver ce lieu unique. 
    Soutenez notre action culturelle à la Ciotat en adhérant chaque année pour 25€.
    Vous aurez l’avantage d’avoir accès à tous les concerts pour 8€ au lieu de 10.
    Vous serez invités à venir voter les orientations du Club en Assemblée Générale.</p>
        </div>
      </div>
    </div> <!-- row -->
    <div class="row"> 
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="content-title">
          <p class="pt-3 pb-3 m-0 text-center font-weight-bold">Donner à l'association</p>
        </div>
        <div class="col-sm-12 col-lg-12 col-xl-12 text-center">
          <p class="p-4">Une solution simple et sécurisée pour les plus généreux:
Aidez-nous à remplacer, entretenir, ou compléter notre matériel (Câbles, amplis, lumières, fournitures de bar, fléchettes…).</p>
        </div>
      </div>
    </div> <!-- row -->
  </div> <!-- row -->
</div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('/js/caleandar.min.js') }}"></script>
  {# <script src="{{ asset('/js/app.js') }}"></script>  #}
  <script type="text/javascript">
    
  // Envoyer le formulaire. 
  $( function () {

console.log("JQuery ready!!!!!!.");
    var events = new Array(); // pour recupérer les evenements
    
    // configuration pour le calendrier
    var settings = {
        Color: 'gray',
        LinkColor: 'hsl(171, 25%, 36%)',
        NavShow: true,
        NavVertical: false,
        NavLocation: '',
        DateTimeShow: true,
        DateTimeFormat: 'mmm, yyyy',
        DatetimeLocation: '',
        EventClick: '',
        EventTargetWholeDay: false,
        DisabledDays: [],
    };

    // créer l'objet ajax XmlHttpRequest
    var jxhr = $.ajax({

        // url du service caleandar
        url: "{{ path('caleandar_action') }}",  
        type:       'GET',  // methode utlisée  
        async:      true,   // requêtte asyncrone
        datatype: 'json',
        success: function(){
        
            // la table recupérée comme objet json
            var eventArrays = JSON.parse(jxhr.responseText);
            
            for(idx = 0; idx < eventArrays.length; idx++)
            {   
                // objet temporaire pour stocker les données au format du plugin caleandar.min.js
                var obj = {}; 
                obj.Date  = new Date(   // créer la date de l'evenement
                                    eventArrays[idx].date.year, 
                                    eventArrays[idx].date.month-1,  // la date commence à zero
                                    eventArrays[idx].date.day
                                    );
                obj.Title = "<h4><strong>"+eventArrays[idx].title+
                ' à '+eventArrays[idx].beginAt+"h.</strong></h4>";
                obj.Link = "/event/"+eventArrays[idx].id; 
                events.push(obj);  // stocker les evenements au format du calendrier                          
            }
 
            console.log("ajax success.");
            console.log(events);
        },
        error: function() { console.log("error occurred.") },
        complete: function() {
            
            // recupérer l'objet dom de avec son id
            var element = document.getElementById('caleandar');
            // passé l'elément, les evenements et la configuration à l'objet caleandar 
            caleandar(element, events, settings);

            console.log("Caleandar created.");
            console.log("ajax complete.") }
    }); 

    $('#newsletter').submit(function(event){
      console.log("Newsletter AJAX Submit !.");
      var fData = $('#newsletter').serialize();
      var request = $.ajax({
        dataType: 'json',
        type: 'POST',
        url: "{{ path('newsletter_action') }}",
			  data: fData,
			  success: function(){
        // json response from controller     
        var response = JSON.parse(request.responseText);
  
			  console.log(response);
        console.log('ajax submit form success.');
			  }
		  });
		  
      request.done(function( msg ){
          // display block message
          console.log('ajax submit form done.');
          $( "#message" ).html( msg );
      });
      
      $( "#newsmail" ).focus( function() {
            $('input[name=email]').val('');
          });
      
      $("#message").show("slow").delay(3000).hide("slow");
      event.preventDefault();

    return false;

	  });  // end submit

  }); // end JQuery 
  </script>
    {#
  <script>
    grecaptcha.ready(function() {
        grecaptcha.execute(
              '6LdlKOoUAAAAAH467QLIAniue2ZJtrm_2E4Ku31k', 
              { action: "{{ path('home_action') }}" }
            ).then(function(token) {
          
            console.log(token);
            //document.getElementById("token").value = token;
        });
    });
</script>  #}

{% endblock %}
