/*EVENT*/
.eCard {
  /* @include shadow-card;
  @include radiusBtmL; */
  border: 5px solid $colorBtm;
  width: 100%;
  height: auto;
  &__img img{
    display: block;
    width: 100%;
    margin-bottom: 3%;
  }
  &__h1{
    font-weight:bold;
    font-size: 1.5em;
  }
  &__h2{
    font-size: 0.8em;
    font-style: italic;
    font-weight: bold;
  }
  &__h3{
    line-height: 0em;
    font-size: 0.8em;
    padding-top: 15px;
  }
  & fieldset {
    height: auto;
  }
  &__block {
    border: 2px solid $colorM;
  }
  &__block__p {
    overflow: auto;
    height: 150px;
    padding-top: 10px;
    border-bottom: 0.5px solid $colorBtm;
    border-top: 0.5px solid $colorBtm;
  }
}