/* app style */

$blueC: hsl(171, 25%, 36%);
$whiteC: hsl(39, 47%, 68%);
$rustC: hsl(21, 74%, 52%);
$brownC: hsl(20, 36%, 25%);
$redC: hsl(12,42%,42%);
$greyC: hsl(30, 2%, 72%);
$yellowC: hsl(44, 53%, 70%);
$blackC: hsl(0, 0%, 0%);
$brownCL : hsl(34,48%,33%);

@font-face {
  font-family: "Nyala";
  src: url('/fonts/nyala.ttf');
}

* {
    padding: 0;
    margin: 0;    
} 

html, body {
  background-color: $blackC;
  font-family: 'Nyala';
  font-size: 0.9em;
  background: $blackC;
 
}

p {
    font-family: 'Nyala';
    font-size: 2em;
    color: #d0c073;
    /* line-height: 1.7em; */
}

input[type=text], 
input[type=email]
{
  font-family: 'Nyala';
  font-size: 1.3em;
}

#content-area {
  resize: none;
  font-family: 'Nyala';
  font-size: 1.3em;
}

label {
    font-size: 1.3em;
}

.container-fluid {
  width: 100%;
  padding: 0%;
  margin: 0%;
  background: $blackC;
}

.jumbotron {
  width: 100%;
  height: 350px;
  background-image: url("/images/home/black_banner_clubjazz2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $blackC;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.logo {
  position: absolute;
  width: 400px;
  height: 100px;
  left: 50%;
  top: 36px;
  transform: translate(-50%, -0%);
  z-index: 9999999;

  max-width: 100%;
  height: auto;
}

.navbar {
  padding: 0;
  height: 100px;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 5px solid $blueC;
  border-width: 100%;
}

.nav-item{
  padding: 12px;
  font-family: 'Nyala';
  font-size: 2.4em;
  &:hover {
    background-color: $yellowC;
    border-radius: 4px; 
    padding: 12px;
    text-shadow: 2px 2px $brownC, 3px 3px $brownC;
  }
}

.navbar-collapse {
  width: 100%;
  background-color: black;
  z-index: 9999;
  //opacity: 0.40;
}

.caleandar {
  position: relative; 
  width: 380px;
  margin: 0 auto;
  border: none;
  max-width: 100%;
  height: auto;
}

.div-tarif {
  position: relative;
  width: 480px;
  margin: 0 auto;
  background-image: url("/images/home/texture_carton.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 6px solid $redC;
  border-radius: 4px;
  max-width: 100%;
  height: auto;
}

.newsletter {
  position: relative;
  width: 360px;
  margin: auto;
  
  font-family: 'Nyala';
  font-size: 1em;
  border-radius: 4px;
  background-color: $brownC;
  
  max-width: 100%;
  height: auto;
}

#btn-news {
  padding: 0;
  margin: 0;
  font-family: 'Nyala';
  font-size: 1.2em;
  border: none;
  background: $blueC;
  color: $greyC;

  &:hover{
    background: $brownC;
    color: #FFFFFF;
  }
}

.div-center {
  width: 80%;
  margin: 0 auto;
}

.container-content{
  padding: 0 3%; 
}

.content-title {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Nyala', sans-serif;
  font-size: 2em;

  max-width: 100%;
  height: auto;
}

.content-title p {
  width: 100%;
  text-shadow: 1px 1px $yellowC, 2px 2px $yellowC;
  color: $brownC;
  background-color: $blueC;
}

.contact-form {
  background-color: $blueC;
  font-family: 'Nyala';
  font-size: 1.4em;
  text-shadow: 1px 1px $yellowC, 2px 2px $yellowC;
  border: 8px solid $yellowC;
  width: 85%;
  max-width: 100%;
  height: auto;
}

#btn-contact {
    background-color: $yellowC;
    color: $redC;
    font-size: 1.5em;
    text-shadow: 1px 1px $brownC, 2px 2px $brownC;
    border: none;
    border-radius: 8px;

    &:hover{
      background: $yellowC;
      color: $blueC;
    }
}

.contact-plan {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}

.contact-map {
  width: 65%;
  overflow:hidden;
  padding-bottom:50%;
  position:relative;
  margin: 0 auto;
  height:0;
  border: none;
}
.contact-map iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.footer {
    width: 100%;
    height: 400px;
    position: relative;
    bottom: 0;
    border-top: 6px solid $blueC;
    font-family: 'Nyala';
    font-size: 1em;
    
    max-width: 100%;
    height: auto;

}

.admin {
  position: absolute;
  left: 10px;
  bottom: 0;
  width: 50px;
  height: 100px;

  max-width: 100%;
  height: auto;
}

.socialBtn{
    position: fixed;
    width: 50px;
    height: 50px;
    padding: 0;
    left: 5px;
    top: 5px;
    border-radius: 4px; 
    z-index: 99999999999999;
    max-width: 100%;
    height: auto; 
}

.slider {
    width: 70%;
}

.bg-blueC {
  background: $blueC;
}

.bg-redC {
  background: $redC;
}

.bg-whiteC {
  background: $whiteC;
}

.bg-yellowC {
  background: $yellowC;
}

.bg-rustC {
  background: $rustC;
}

.bg-brownC {
  background: $brownC;
}


.bg-brownCL {
  background: $brownCL;
}

.bg-blackC {
  background: $blackC;
}

.text-rustC {
  color: $rustC;
} 

.text-redC {
  color: $redC;
} 

.text-blueC {
  color: $blueC;
} 

.text-brownC {
  color: $brownC;
} 

.text-yellowC {
  color: $yellowC;
} 

.text-greyC {
  color: $greyC;
} 

.text-whiteC {
  color: $whiteC;
} 

.login {
  width: 50%;
}

#btn-login {
  border: none;
  background: $redC;
  &:hover {
    background: $rustC;
  }
}

.card-text{ 
  width: 100%; 
}


/* import */
@import "caleandar";
@import "event";
@import "~bootstrap/scss/bootstrap";
