{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}
{% block body %}
{{ parent() }}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5 mb-2 ml-0 mr-0 p-0">
			<div class="content-title">
        <p class="pt-3 pb-3 m-0 text-center font-weight-bold">Le lieu et notre histoire</p>
      </div>
		</div>
      <div class="div-center mt-5 mb-4">
        <img class="img-fluid rounded" src="{{ asset('/images/home/hall_marche_laciotat.png') }}" alt="imgage historic">
      </div>
      <div class="col-sm-12 text-justify">   
        <p class="p-3">
      Situé au coeur de La Ciotat, le Club Convergences vous offre chaque semaine d'Octobre à Mai
une programmation éclectique de concerts Jazz et Musiques actuelles, ainsi que
des boeufs (Musiques actuelles, Jazz) et des micros ouverts (Hip Hop, Chanson Française).
Lieu de rencontre humaine et artistique à l’ambiance conviviale, on y boit une sélection de bières artisanales, une pression locale, et on y joue à La Flechtanque, jeu de comptoir inventé à La Ciotat.
Pour clotûrer l’année, on se retrouve en Mai sur la place Evariste Gras pour 2 soirées mémorables en plein-air avec la Caravane-Scène.
        </p>
      </div>
      <div class="div-center text-center">
        <h3>
          <p class="text-white-50">
            Club Convergences<br>
            Place Evariste Gras<br>
            Sous le cinéma Lumière<br>
            13600 LA CIOTAT
          </p>
        </h3>
      </div>
      <div class="div-center text-justify mt-4 mb-4">
        <img class="img-fluid rounded" src="{{ asset('/images/home/logo_historic.jpg') }}" alt="imgage historic">
        <p class="p-3">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
        <p class="p-3">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
      </div>            
     
      <!-- div slider -->  
      <div class="div-center slider">     
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/carte-postale-la-ciotat.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/home/hall_marche_laciotat.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/port-la-ciotat.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/centre-ville-la-ciotat.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/voie-douce-ciotat.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
{% endblock %}

