{% extends 'base.html.twig' %}

{% block title %}Infos{% endblock %}

{% block body %}
{{ parent() }}
<div class="container-fluid pr-0 pl-0">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5 mb-4 p-0">
			<div class="content-title">
				<p class="pt-3 pb-3 m-0 text-center font-weight-bold">Nous contacter</p>
			</div>
		</div>
		<div class="contact-form mt-5 p-5 text-brownC m-auto">
		{# <form id="contact" method="POST">  #}
        {{ form_start(form, {'action': path('contact_action'), 'method': 'POST'}) }}  
			<div class="form-group pb-4">
				<div class="row">
					<div class="col-sm-8 col-md-4 col-lg-4 col-xl-4"><label>Votre Nom et Prénom</label></div>
					<div class="col-sm-8 col-md-4 col-lg-4 col-xl-4 mb-2">          
						{# <input type="text" class="form-control mr-1" id="firstname" placeholder="Votre prénom ..." name="firstname"> #} 
					    {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
					</div>
					<div class="col-sm-8 col-md-4 col-lg-4 col-xl-4">          
						{# <input type="text" class="form-control mr-1" id="lastname" placeholder="Votre nom ..." name="lastname"> #}
						{{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }} 
					</div>
				</div>
			</div>
			<div class="form-group pb-4">
				<div class="row">
					<div class="col-sm-8 col-md-4 col-lg-4 col-xl-4"><label>Votre e-mail</label></div>
					<div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
						{# <input type="email" class="form-control" id="email" placeholder="Votre email ..." name="email"> #}
						{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }} 
					</div>
				</div>
			</div>
			<div class="form-group pb-4">
				<div class="row">
					<div class="col-sm-8 col-md-4 col-lg-4 col-xl-4"><label>Choisir un sujet</label></div>
					<div class="col-sm-8 col-md-6 col-lg-6 col-xl-6">
						{# <input type="text" class="form-control" id="subject" name="subject" placeholder="Votre sujet ..."> #}
						{{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>
			</div>
			<div class="form-group pb-4">
				<div class="row">
					<div class="col-sm-8 col-md-4 col-lg-4 col-xl-4"><label>Ecrire un message</label></div>
					<div id="content-area" class="col-sm-8 col-md-8 col-lg-8 col-xl-8 h-500" >
						 {# <textarea class="form-control" rows="5" id="comment" name ="content" height="300px" placeholder="Votre message ..."></textarea> #}
						{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }} 
					</div>
				</div>
			</div>
	
			<div class="form-group">        			    
				<div class="col-sm-offset-2 col-sm-10">
			    	<button type="submit"  id="btn-contact" class="btn btn-primary pt-2 pb-2 pl-4 pr-4">Envoyer</button> 
				 {# {{ form_widget(form.send, {'attr': {'class': 'btn btn-primary pt-2 pb-2 pl-4 pr-4 rounded'}}) }} #}
				</div>
			</div>

		  	<div><input type="hidden" id="captcha" name="token"></div>
			{# <div class="g-reCAPTCHA" data-sitekey="6LeTXQgUAAAAAGByWkRSVeJxE274kd7zz8_ksXI2"></div> #}
		{{ form_end(form) }}	
		{# </form> #} 
		<div id="log" class="log"></div>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5 mb-4  p-0">
			<div class="content-title">
				<p class="pt-3 pb-3 m-0 text-center font-weight-bold">Nous Situer</p>
			</div>
		</div>
		<div class="contact-plan mt-4">	
			<div class="col-sm-12 text-center  mt-4">
				<p class="p-4">Situé au coeur de La Ciotat, le Club Convergences vous offre chaque semaine d'Octobre à Mai
une programmation éclectique de concerts Jazz et Musiques actuelles, ainsi que
des boeufs (Musiques actuelles, Jazz) et des micros ouverts (Hip Hop, Chanson Française).
Lieu de rencontre humaine et artistique à l’ambiance conviviale on y boit une sélection de bières artisanales, une pression locale, et on y joue à La Flechtanque, jeu de comptoir inventé à La Ciotat.
Pour clotûrer l’année, on se retrouve en Mai sur la place Evariste Gras pour 2 soirées mémorables en plein-air avec la Caravane-Scène.
				</p>
			</div>
		 <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5 mb-2">
			<div class="text-center ">
				<p class="pt-2 pb-1 m-0 text-center text-rustC font-weight-bold">Bientôt {{ event.title }}</p>
			</div>
		</div>
		 <div class="container-content mb-3">
         <div class="row">
          <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 d-flex justify-content-around h-75 div-center mb-4">
            <div class="card p-3 mt-4 mb-2 bg-warning">
                <fieldset class="border p-3">
                    <div class="card-header">
                        <h3 class="card-title w-auto text-center text-redC">{{ event.title }}</h3>
                    </div>
                    <div>
                        <img src="{{ asset('/images/event/'~event.image) }}" class="card-img-top img-responsive img-fluid rounded" alt="Image evenement JAZZ">                                        
                        <div class="card-body bg-brownCL">
                            <h5 class="card-title m-2 text-info text-rust">{{ event.title }}</h5>
                            <h6 class="card-subtitle m-3 text-greyC">{{ event.beginAt|date('d/m/Y') }} à {{ event.beginAt|date('H:i') }}h</h6>
                            <div class="m-auto">
                                <hr>
                                <div class="overflow-auto" style="width:100%;height:200px;max-width:100%;">
                                    <p class="card-text">{{ event.content }}</p>
                                    <a href="{{ path('event_action') }}" class="card-link text-decoration-none text-blueC h3">Voir tous les évènements</a>
                                </div>
                                <hr>
                            </div>
                            <div class="card-footer text-center bg-dark"> 
                                <h5 class="m-3 text-white">{{ event.place }}</h5>
                            </div>
                        </div>
                    </div>                                  
                </fieldset>
            </div>
        </div>
			<div class="div-center text-center mb-4">
				<p class="text-warning h2">Mail-To:</p>
				<a href="mailto:jazzconvergences@hotmail.com"><p class="text-rustC">Club Convergence</p></a>
				<a href="mailto:convergences.programmation@gmail.com"><p class="text-rustC">Convergence Programmation</p></a>	
			</div>
			<div class="div-center text-center mb-4">
        	<h4>
          		<p class="text-white-50">
            Club Convergences<br>
            Place Evariste Gras<br>
            Sous le cinéma Lumière<br>
            13600 LA CIOTAT
          		</p>
        	</h4>
      		</div>
			<!--Google map-->
			<div class="contact-map mb-4">
				<div id="map-container-google-1" class="m-auto z-depth-1-half map-container" >
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2909.615601652237!2d5.602726615476936!3d43.1755923791406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c9af755b7cd4cf%3A0x985593045eb73250!2sClub%20Convergences!5e0!3m2!1sfr!2sfr!4v1584013716971!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</div>
			<!--Google Maps-->			
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{#
	<script src="https://www.google.com/recaptcha/api.js?render=6LfQf-oUAAAAAFaGb3ppqGSZqk6X6Gv9LuKHVA3L"></script>
	<script type="text/javascript">
		const siteKey = '6LfQf-oUAAAAAFaGb3ppqGSZqk6X6Gv9LuKHVA3L';
		//6LfQf-oUAAAAAGX3HOsTGDwiyAhwFeJpOZ7yUyiH

		//either on page load
		grecaptcha.ready(function() {
			grecaptcha.execute(siteKey, {
				action: "{{ path('contact_action') }}"
			}).then(function(token) {
				
				//the token will be sent on form submit
				$('#captcha').val(token);
				//keep in mind that token expires in 120 seconds so it's better to add setTimeout.
				console.log('token: '+token);
			});
		});
		console.log('[LOG]: Email: '+'<?=  $contact->getEmail() ?>');
		#}
{% endblock %}

