<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Club Convergence{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       {# <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css')}}">  #}
    {% endblock %}
    </head>
    <body class="m-0 p-0">
    {% block body %}
    <div class="container-fluid">
        <div class="row">
            
            <div class="jumbotron m-0">
                <div class="logo bg-blackC m-auto">
                        <img src="{{ asset('/images/home/logo_clubjazz2.png') }}" alt="logo" class="img-fluid">
                </div>
            </div>
            <nav id="nav-bar" class="navbar navbar-expand-lg navbar-dark d-flex">
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto p-3 mr-4" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon text-greyC"></span>
                </button>
                <div class="collapse navbar-collapse text-center" id="navbarNav">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item mr-2">
                            <a class="nav-link font-weight-bold text-white-50 rounded" href="{{ path('home_action') }}">ACCUEIL</a>
                        </li>
                        <li  class="nav-item mr-2">
                            <a class="nav-link font-weight-bold text-white-50 rounded" href="{{ path('event_action') }}">EVENEMENTS</a>
                        </li>
                        <!--
                        <li class="nav-item mr-2">
                            <a class="nav-link font-weight-bold text-white-50 rounded" href="{{ path('historic_action') }}">HISTORIQUE</a>
                        </li>
                        -->
                        <li class="nav-item mr-2">
                            <a class="nav-link font-weight-bold text-white-50 rounded" href="{{ path('contact_action') }}">INFOS</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link font-weight-bold rounded" href="{{ path('partners_action') }}"> PARTENAIRES</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="socialBtn d-block ml-auto text-center">
                <div class="p-0 h3 font-weight-bold"><a href="{{ path('home_action') }}" title="Newsletter"><img src="{{ asset('images/social/newsletter.png') }}" class="img-fluid rounded" alt="newsletter"></a></div>
                <div class="p-0 h3 font-weight-bold"><a href="#facebook" title="Facebook"><img src="{{ asset('images/social/facebook.png') }}" class="img-fluid rounded" alt="facebook"></a></div>
                <div class="p-0 h3 font-weight-bold"><a href="#instagram" title="Instagram" ><img src="{{ asset('images/social/instagram.png') }}" class="img-fluid rounded" alt="instagram"></a></div>
                <div class="p-0 h3 font-weight-bold"><a href="{{ path('contact_action') }}" title="Contact"><img src="{{ asset('images/social/mail.png') }}" class="img-fluid rounded" alt="contact"></a></div>
                
            </div>
        </div>
    </div>
    {% endblock %}
    {% block footer %}
    <div class="container-fluid">
        <div class="row">
            <div class="footer mt-3 bg-blackC fixed">
            <!--
                <div class="socialNetwork d-flex flex-row mt-4 p-4 justify-content-center">
                    <div class="socialBtn p-4 mr-5 text-center h3 font-weight-bold"><a href="facebook"><img src="{{ asset('images/social/facebook.png') }}" class="img-fluid rounded" alt="facebook"></a></div>
                    <div class="socialBtn p-4 mr-5 text-center h3 font-weight-bold"><a href="instagram"><img src="{{ asset('images/social/instagram.png') }}" class="img-fluid rounded" alt="instagram"></a></div>
                </div>
                -->
                <!-- div slider -->  
                <div class="slider m-auto">     
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                   <!--
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol> 
                    -->
                    <div class="carousel-inner text-center mt-5 mb-4">
                        <div class="carousel-item active">
                            <a href="https://spedidam.fr/"><img src="{{ asset('images/partner/spedidam.png') }}" class="img-fluid rounded" alt="spedidam"></a>
                        </div>
                        <div class="carousel-item">
                        	<a href="http://www.sogeres.fr/"><img src="{{ asset('images/partner/sogeres.png') }}" class="img-fluid rounded" alt="sogeres"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="http://www.laciotat.com/"><img src="{{ asset('images/partner/ville_de_la_ciotat.png') }}" class="img-fluid rounded" alt="ville la ciotat"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="https://www.helloasso.com/"><img src="{{ asset('images/partner/helloasso.png') }}" class="img-fluid rounded" alt="helloasso"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="https://www.culture.gouv.fr/Aides-demarches/Dispositifs-specifiques/Fonds-national-pour-l-emploi-perenne-dans-le-spectacle-FONPEPS"><img src="{{ asset('images/partner/Logo-du-FONPEPS.png') }}" class="img-fluid rounded" alt="FONPEPS" ></a>
                        </div>
                        <div class="carousel-item">
                            <a href="https://www.facebook.com/CiotatChourmoAsso/"><img src="{{ asset('images/partner/logo_ciotat_chourmo.png') }}" class="img-fluid rounded" alt="logo_ciotat_chourmo" ></a>
                        </div>
                        <div class="carousel-item">
                            <a href="http://www.concertandco.com/"><img src="{{ asset('images/partner/logo-concertnco.png') }}" class="img-fluid rounded" alt="logo-concertnco"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="https://www.atelierclipart.com/"><img src="{{ asset('images/partner/clip_art.png') }}" class="img-fluid rounded" alt="logo-clip-art"></a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    </div>
                </div>
                <!-- end slider -->
                <div class="admin">
                    <a href="{{ path('app_login') }}"><img src="{{ asset('images/home/admin.png') }}" class="img-fluid mt-4" alt="Responsive image footer"></a>
                </div>
            </div>
        </div>
    </div> 
    {% endblock %}
    {% block javascripts %} 
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> 
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="{{ asset('/js/jquery.min.js') }}"></script>
        <script src="{{ asset('/build/app.js') }}"></script> 
        {% endblock %} 
    </body>
</html>