{% extends 'base.html.twig' %}

{% block title %}Partenaires{% endblock %}

{% block body %}
{{ parent() }}
<div class="container-fluid">
	<div class="row">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<div class="content-title text-center">
					<p class="text-center font-weight-bold">Bénévoles</p>
				</div>
				<div class="text-center">
					<p class="p-3">Les bénévoles du Club Convergences s'engagent au quotidien dans les missions les plus diverses.
	Ils donnent leur temps et leur énergie pour offrir au public de la région des spectacles de qualité, et aux artistes des conditions d’accueil professionnelles.
	Mention légale : “Les associations relevant des dispositions de la loi 1901 relative au contrat d'association se financent grâce aux cotisations de ses adhérents et aux dons des particuliers, des collectivités locales et des sociétés privées et se développent par le travail et l'implication de ses bénévoles.”</p>
				</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<div class="content-title text-center">
          			<p class="text-center font-weight-bold">Nos partenaires</p>
        		</div>
			</div>
		</div> <!-- end row -->
		<div class="row m-auto">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">  
				<div class="row">
					<div class="col-sm-6 text-center mt-3">
						<a href="https://spedidam.fr/"><img src="{{ asset('images/partner/spedidam.png') }}" class="img-fluid rounded" alt="spedidam"></a>
					</div>
					<div class="col-sm-6 text-center  mt-3 mb-5">
						<a href="http://www.sogeres.fr/"><img src="{{ asset('images/partner/sogeres.png') }}" class="img-fluid rounded" alt="sogeres"></a>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 text-center mt-3">
						<a href="http://www.laciotat.com/"><img src="{{ asset('images/partner/ville_de_la_ciotat.png') }}" class="img-fluid rounded" alt="ville la ciotat"></a>
					</div>
					<div class="col-sm-6 text-center mt-3 mb-5" >
						<a href="https://www.helloasso.com/"><img src="{{ asset('images/partner/helloasso.png') }}" class="img-fluid rounded" alt="helloasso"></a>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 text-center mt-3">
						<a href="https://www.culture.gouv.fr/Aides-demarches/Dispositifs-specifiques/Fonds-national-pour-l-emploi-perenne-dans-le-spectacle-FONPEPS"><img src="{{ asset('images/partner/Logo-du-FONPEPS.png') }}" class="img-fluid rounded" alt="FONPEPS" ></a>
					</div>
					<div class="col-sm-6 text-center mt-3 mb-5">
						<a href="https://www.facebook.com/CiotatChourmoAsso/"><img src="{{ asset('images/partner/logo_ciotat_chourmo.png') }}" class="img-fluid rounded" alt="logo_ciotat_chourmo" ></a>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 text-center mt-3 mb-5">
						<a href="http://www.concertandco.com/"><img src="{{ asset('images/partner/logo-concertnco.png') }}" class="img-fluid rounded" alt="logo-concertnco"></a>
					</div>
					<div class="col-sm-6 text-center mt-3 mb-5">
						<a href="https://www.atelierclipart.com/"><img src="{{ asset('images/partner/clip_art.png') }}" class="img-fluid rounded" alt="logo-clip-art"></a>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- end row -->
</div> <!-- end container -->
{% endblock %}
{% block javascripts %}
  {{ parent() }}
{% endblock %}
