<h3>You did it! You registered!</h3>

Hi {{ firstname }}, {{ lastname }} your message!!<br><br>.

{{ content }}

Thanks!
<br>
{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('/images/home/logo_club_convergences.png')) }}">